:root {
  --heading-font-family: "Roboto", sans-serif;
  --button-font-family: "Montserrat";
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 24px;
}
p {
  font-family: var(--heading-font-family);
  font-weight: 400;
}
.hero {
  background-color: white;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 18px;

  line-height: 2;
}
.hero h1,
h2 {
  text-transform: uppercase;
}

.btn-branding {
  font-family: var(--button-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-color: black;
  border-radius: 50px;
  padding: 18px 30px;
}
